html,
body {
    font-family: 'Barlow', sans-serif;
}

main {
    width: 80%;
    margin: auto;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    height: 1px;
}

/* Navbar section */

.navbar-logo-text {
    vertical-align: middle;
}

.navbar {
    transition: background-color 0.3s ease;
    width: 70%;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.navbar.sticky {
    background-color: #222222;
}

.navbar.full-width {
    width: 100%;
    border-radius: 0px;
    margin-top: 0px;
    background-color: #222222;
    transition: 0.3s;
}

/* Home section */

.hero-container {
    height: 100%;
    color: white;
}

.hero-container h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: darkgray;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/hero.jpg);
    background-position: center top;
    background-size: cover;
}

/* Main section */

.section {
    padding-top: 10rem;
}

.section h1 {
    font-weight: 600;
    padding-bottom: 2rem;
}

.section p {
    margin: auto;
}

.highlights {
    padding-top: 3rem;
    width: 100%;
}

.icon-founding {
    color: lightskyblue;
}

.icon-members {
    color: lightgreen;
}

.icon-training {
    color: red;
}

.blog-post {
    width: 75%;
    text-align: justify;
    text-justify: inter-word;
}

.blog-image {
    padding: 5em;
}

.blog-image img {
    max-height: 650px;
}

/* Footer section */

footer {
    background-color: #222222;
    color: white;
    padding: 1em;
    padding-top: 3em;
    width: 100%;
}

footer h1 {
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 1em;
}

footer p {
    margin: 0;
}

.footer-icon {
    padding-right: 0.75em;
}

.content-footer > * {
    width: 400px;
    color: darkgray;
}

.links {
    color: darkgray;
}

.links:nth-child(1) {
    padding-right: 0.75em;
}

.external-link {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.external-link:hover {
    color: green;
}

/* Media queries */

@media (max-width: 991px) {
    .navbar {
        background-color: #222222;
        width: 100%;
        border-radius: 0px;
        margin-top: 0px;
    }

    .content-footer {
        flex-direction: column;
    }

    .blog-post {
       
        width: 100%;
    }

    .blog-image {
        padding: 0em;
    }

    .highlights {
        flex-direction: column;
    }
}